@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
// 1. Set your own initial variables and derived
//    variables in _variables.scss
@import "variables";

// 2. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

@import "~bulma/sass/utilities/derived-variables";

// 3. Add new color variables to the color map.
$addColors: (
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);

@import "~bulma";
@import "~buefy/src/scss/buefy";

// 4. Provide custom buefy overrides and site styles here



body {
	background-color: #209cee;
}

#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	// text-align: center;
	color: #fff;
	min-height: 100vh;
}

.navbar-burger {
	color: #fff;
}

.hero {
	padding-top: 52px;
}
.hero-head {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #209cee;
	box-shadow: 0 1px 0 0 #fff;
	z-index: 100;
}
.navbar-menu {
	position: absolute;
	width: 100%;
}
.navbar-item {
	height: 52px;
	@media screen and (max-width: 1023px) {
		line-height: 38px;
	}
}

@media screen and (max-width: 1023px) {
	.navbar-menu.is-active {
		box-shadow: 0 1px 0 0 #fff;
	}
}

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
	background-color: #118fe4;
    color: #fff;
}


.content * { color: #fff; }
// .hero-body.is-link { background-color: #43a1df; }

.hero-body {
	position: relative;
	border-top: 1px #fff solid;
	&:first-child { border-top: none; }
}

//post list
.backgroundImage {
	position: absolute; left: 0; top: 0; width: 100%; height: 100%;
	img {
		height: 100%; width: auto; opacity: .1;
	}
}

//single
.feauredImage {
	margin: -9rem -1.5rem 1rem -1.5rem;
	position: relative;

	@media screen and (max-width: 767px) {
		margin-top: -3rem;
	}
}
.absoluteContainerWrapper {
	position: absolute;
	left: 0;
	bottom: 2rem;
	width: 100%;
	@media screen and (max-width: 1023px) {
		padding: 0 1.5rem;
	}
}
